<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>Fedbridge Test SALES Application</display-name>
	<description>Just a Test SP for Fedbridge Project</description>


	<!-- Define a security constraint that gives unlimted access -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>images</web-resource-name>
			<url-pattern>/images/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>css</web-resource-name>
			<url-pattern>/css/*</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<!-- Define a Security Constraint for Managers -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Managers Area</web-resource-name>
			<url-pattern>/managers/*</url-pattern>
		</web-resource-collection>
		
		<auth-constraint>
			<role-name>manager</role-name>
		</auth-constraint>
	</security-constraint>
	
	<!-- Define a Security Constraint for Employers -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Employers Area</web-resource-name>
			<url-pattern>/employers/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>employee</role-name>
		</auth-constraint>
	</security-constraint>
	
	<!-- Define a Security Constraint for Sales -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Sales Area</web-resource-name>
			<url-pattern>/sales/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>sales</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Define the Login Configuration for this Application -->
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Tomcat SALES Application</realm-name>
		<form-login-config>
			<form-login-page>/jsp/login.jsp</form-login-page>
			<form-error-page>/jsp/loginerror.jsp</form-error-page>
		</form-login-config>
	</login-config>

	<!-- Security roles referenced by this web application -->
	<security-role>
		<role-name>manager</role-name>
	</security-role>
	<security-role>
		<role-name>employee</role-name>
	</security-role>
	<security-role>
		<role-name>sales</role-name>
	</security-role>
	
</web-app>
